.sidebar-wrapper{
    width: 73px;
    position: fixed;
    bottom: 0px;
    top: 53px;
    left: 0px;
    padding-top: 10px;
    background-color: white;
    z-index: 200;
    
}
.sidebar-wrapper > div{
    display: flex;
    flex-direction: column;
    height: 76px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-wrapper img{
    height: 24px;
    margin-bottom: 5.5px;
}
.sidebar-wrapper > div:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-wrapper div{
    font-family: Roboto, Arial;
    font-size: 10px;
}